<h1> List of posts for <%= @category.name%> </h1>
<h1><%= @post.title %></h1>

<span><%= link_to 'edit' , edit_category_post_path(@category,@post) %></span>
<span><%= link_to 'delete',category_post_path(@category,@post), :method => :delete %> </span>
<h1><%= @post.body%></h1>

<h2><%= link_to "Home" , categories_path %> </h2>

